body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  width: 100%; /* Largeur de 100% de la fenêtre du navigateur */
  min-height: 100vh; /* Hauteur minimale de 100% de la hauteur de la fenêtre */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime les rembourrages par défaut */
}

.navbar {
  background-color: #2c3e50 !important;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ecf0f1 !important;
}
.nav-link {
  color: #ecf0f1 !important;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #3498db !important;
}
.carousel-item {
  height: 400px;
}
.carousel-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.category-card {
  background-color: #3498db;
  color: white;
}
.popular-game-card {
  background-color: #2ecc71;
}
.btn-primary {
  background-color: #e74c3c;
  border: none;
}
.btn-primary:hover {
  background-color: #c0392b;
}
footer {
  background-color: #34495e;
  color: #ecf0f1;
}