@model IEnumerable<GamingPlatform.Models.Game>

@{
    ViewData["Title"] = "Liste des Jeux";
}

<h1>Liste des Jeux</h1>

<div class="row">
    @foreach (var game in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@game.ImageUrl" class="card-img-top img-fluid" style="max-height: 200px; object-fit: cover;" alt="@game.Name">
                <div class="card-body">
                    <h5 class="card-title">@game.Name</h5>
                    <p class="card-text">
                                @(game.Description.Length > 100
                                    ? game.Description.Substring(0, 100) + "..."
                                    : game.Description)
                    </p>
                    <a href="/game/details/@game.Id" class="btn btn-info">Voir les détails</a>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .card:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }
</style>